.card {
  padding-bottom: 5rem;
  text-transform: capitalize;
}
.textField {
  margin-left: 2rem;
  padding: 0;
  width: 15rem;
}
.submitField {
  border-radius: 0.3rem;
  margin-left: 2rem;
  cursor: pointer;
  color: white;
  background-color: cadetblue;
  padding: 0.4rem 1rem;

  // padding: 1px;
}
.manageButton {
  width: max-content;
  margin: 2rem 30%;
  display: flex;
  align-items: center;
}
.button {
  text-transform: none;
}
.footer {
  margin-top: 2rem;
}
.inputField {
  margin-top: 1rem;
}
