.container {
  margin-top: 0rem auto;
  // padding-top: 1rem;
  width: 95%;
  border-radius: 1rem;
  //   padding: 1rem;
  background-color: white;
  // padding-bottom: 4rem;
  margin-bottom: 8rem;
}
.content {
  text-transform: capitalize;
  line-height: 30px;
}
.child {
  margin-top: 2rem;
  font-size: 1rem;
  color: rgb(65, 64, 64);
}
h3 {
  text-align: center;
}
.button {
  float: right;
  margin-right: 4rem;
  display: flex;
  justify-content: space-between;
}
.btn1,
.btn2,
.btn3 {
  margin-top: 3rem;
  margin-right: 2rem;
}
