.cards {
  width: 20%;
  height: 150px;
  background-color: rgb(150, 148, 148);
  color: white;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin: 1%;
  justify-content: center;
  cursor: pointer;
}
// .text {
//   padding-left: 1rem;
//   padding-right: 1rem;
// }
a {
  text-decoration: none;
  color: white;
}
// .cards {
//   width: 25%;
//   text-align: center;
//   height: 150px;
// }
// .temp {
//   width: 25%;
//   height: 150px;
// }
