.container {
  margin-top: 1rem;
  margin-left: 1rem;
  padding-bottom: 3rem;
}
.heading {
  width: 95%;
  text-align: right;
}
.placeOrderButton {
  margin-top: 1rem;
  width: 90%;
  align-items: center;
  padding-bottom: 2rem;
  text-align: center;
}
.emptyCart {
  text-align: center;
  margin: 1rem auto;
}
